head
	meta(charset='utf-8')
	title ショット作成
	script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(type='text/javascript', src='/scripts/shot.js')
body

	h1 ショット作成
	p #{point.title}
	p GC #{point.game_count_a} - #{point.game_count_b}
	p C #{point.count_a} - #{point.count_b}
	p #{larryCount}球目

		form(action="create-new-shot", method="POST")

			table

				tr
					td
						span プレーヤー
					td
						select(name="player_id")
							each p in players
								option(value=p.id) #{p.name}

				tr
					td
						span ショットタイプ
					td
						select(name="shot_type_id")
							each st in shotTypes
								option(value=st.id) #{st.name}

				tr
					td
						span コース
					td
						select(name="shot_direction_id")
							each sd in shotDirections
								option(value=sd.id) #{sd.name}

				tr
					td
						span 深さ
					td
						select(name="ball_depth_id")
							each d in depths
								option(value=d.id) #{d.name}

				tr
					td
						span 攻めor守り
					td
						select(name="situation_id")
							each s in situations
								option(value=s.id) #{s.name}

				tr
					td
						span その他の性質
					td
						select(name="other_shot_property_id")
							option
							each osp in otherShotProperties
								option(value=osp.id) #{osp.name}

				tr
					td
						span バックハンド
					td
						input(name="is_backhand" type="checkbox" value="true")
						span バックハンド

				tr
					td
						span チャンスボール
					td
						input(name="is_chance" type="checkbox" value="true")
						span チャンスボール

				tr
					td
						span ネットダッシュ
					td
						input(name="is_net_rush" type="checkbox" value="true")
						span ネットダッシュ

				tr
					td
						span 得点
					td
						input(name="is_winner" type="checkbox" value="true")

				tr(class="winner-form")
					td
						span 得点の種類

					td
						select(name="winner_type_id" class="winner")
							each wt in winnerTypes
								option(value=wt.id) #{wt.name}

				tr(class="winner-form")
					td
						span スーパープレー
					td
						input(name="is_superplay" type="checkbox" value="true" class="winner")

				tr
					td
						span ミス
					td
						input(name="is_error" type="checkbox" value="true")

				tr(class="error-form")
					td
						span ミスの種類
					td
						select(name="error_type_id" class="error")
							each et in errorTypes
								option(value=et.id) #{et.name}
				tr(class="error-form")
					td
						span ケアレスミス
					td
						input(name="is_unforced_error" type="checkbox" value="true" class="error")

			input(type="hidden" name="is_second_receive", value=is_second_receive)
			input(type="hidden", name="point_id", value=point.id)
			input(type="hidden", name="game_id", value=point.game_id)
			input(type="hidden", name="match_id", value=point.match_id)
			input(type="hidden", name="larry_count", value=larryCount)
			input(type="submit", value="作成")

include footer


