head
	meta(charset='utf-8')
	title ショット作成
	script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(type='text/javascript', src='/scripts/service.js')
body

	h1 ショット作成
	p #{point.title}
	p GC #{point.game_count_a} - #{point.game_count_b}
	p C #{point.count_a} - #{point.count_b}
	p #{larryCount}球目

		form(action="create-new-shot", method="POST")

			table

				tr
					td
						span プレーヤー
					td
						select(name="player_id")
							each p in players
								option(value=p.id) #{p.name}

				tr
					td
						span ショットタイプ
					td
						select(name="shot_type_id")
							each st in shotTypes
								option(value=st.id) #{st.name}

				tr
					td
						span コース
					td
						select(name="shot_direction_id")
							each sd in shotDirections
								option(value=sd.id) #{sd.name}

				tr
					td
						span 攻めor守り
					td
						select(name="situation_id")
							each s in situations
								option(value=s.id) #{s.name}

				tr
					td
						span ファーストサービス
					td
						input(name="is_first_service" type="checkbox" value="true")
						span ファーストサービス

				tr
					td
						span ネットダッシュ
					td
						input(name="is_net_rush" type="checkbox" value="true")
						span ネットダッシュ

				tr
					td
						span サービスエース
					td
						input(name="is_winner" type="checkbox" value="true")
						span サービスエース

				tr
					td
						span ダブルフォルト
					td
						input(name="is_error" type="checkbox" value="true")
						span ダブルフォルト



			input(type="hidden", name="point_id", value=point.id)
			input(type="hidden", name="game_id", value=point.game_id)
			input(type="hidden", name="match_id", value=point.match_id)
			input(type="hidden", name="larry_count", value=larryCount)
			input(type="submit", value="作成")

include footer


