head
	meta(charset='utf-8')
	title 大会作成
body

	h1 大会作成

		form(action="create-new-competition", method="POST")

			table
				tr
					td
						span 名前
					td
						input(type="text" name="name")


				tr
					td
						span 会場
					td
						select(name="tennis_court_id")
							each tc in tennisCourts
								option(value=tc.id) #{tc.name}

				tr
					td
						span 日程
					td
						div
							select(name="date_year")
								each y in years
									option(value=y) #{y}

							span 年
							select(name="date_month")
								each m in months
									option(value=m) #{m}

							span 月
							select(name="date_day")
								each d in days
									option(value=d) #{d}

							span 日

				tr
					td
						span 日数
					td
						select(name="duration")
							option(value=1) 1
							option(value=2) 2
							option(value=3) 3


				tr
					td
						span 説明
					td
						textarea(name="description")

				tr
					td
						span 大会形式
					td
						select(name="competition_type_id")
							each t in competitionTypes
								option(value=t.id) #{t.name}

				tr
					td
						span タグ
					td
						p
							each t in competitionTags
								input(name="competition_tag_ids[]" type="checkbox" value=t.id)
								span #{t.name}






			input(type="submit", value="作成")

include footer


